[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
tiktoken = "*"
nltk = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
tqdm = "*"

langchain = "*"
langchain-openai = "*"
langchain_ollama = "*"
tavily-python = "*"
langchain_tavily = "*"
langchain-community = "*"
langchain-pinecone = "*"
langchain-chroma = "*"
pinecone = ">=6.0.0,<8.0.0"
openai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
